Header set X-Frame-Options SAMEORIGIN
RewriteEngine on
RewriteRule ^api(/[^?]*) api.php?path=$1&$2 [QSA,L]
RewriteCond %{HTTPS} !on
RewriteCond %{HTTP:X-Forwarded-Proto} !=https
RewriteRule ^.*$ https://%{HTTP_HOST}%{REQUEST_URI} [L,QSA,NE]
RewriteRule ^feed\.php$ - [F]
php_flag display_errors 0
php_flag short_open_tag 1
php_flag allow_url_include 0
php_flag ignore_repeated_errors 0
php_flag expose_php 1
php_value allow_url_fopen 1
php_value max_input_vars 10000
php_value register_argc_argv 0
php_value file_uploads 1
php_value max_file_uploads 20
