openapi: 3.0.0
info:
  title: Hláškovník API
  description: REST API for Hláškovník. An app for writing down funny things teachers say.
  version: "2.0"

servers:
  - url: http://hlaskovnik.tk/api/v2.0/
    description: The one and only api url.

paths:
  /hlasky:
    get:
      summary: Returns a list of all quotes.
      parameters:
        - in: query
          name: filterByTeacher
          schema:
            type: string
        - in: query
          name: filterByDate
          schema:
            type: string
            format: date
      responses:
        200:
          description: All OK, a list of quotes.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Quote'
    post:
      summary: Adds a new quote.
      security:
        - PasswordAuth: []
          ReCaptchaAuth: []
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewQuote'
      responses:
        201:
          description: OK. Created
        400:
          description: Bad Request
  /hlasky/{quoteId}:
    get:
      summary: Returns a quote by id
      parameters:
        - in: path
          name: quoteId
          schema:
            type: integer
          required: true
      responses:
        200:
          description: A quote
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Quote'
  /hlasky/{quoteId}/likes:
    post:
      summary: Adds a like to a quote.
      security:
        - ReCaptchaAuth: []
        - ApiKeyAuth: []
      parameters:
        - in: cookie
          name: userId
          schema:
            type: string
          required: true
        - in: path
          name: quoteId
          schema:
            type: integer
          required: true
      responses:
        201:
          description: OK. Like added.
        400:
          description: Bad request.
        409:
          description: Conflict. Already liked.
  /users/{userId}/likes:
    get:
      summary: Returns all quotes liked by user.
      parameters:
        - in: path
          name: userId
          required: true
          schema:
            type: string
      responses:
        200:
          description: All ok.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: integer
  /teachers:
    get:
      summary: Returns all teachers.
      responses:
        200:
          description: All ok.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Teacher'

components:
  schemas:
    Quote:
      properties:
        id:
          type: integer
        teacher:
          $ref: "#/components/schemas/Teacher"
        date:
          type: string
          format: date
        content:
          type: string
        edited:
          type: boolean
        likes:
          type: integer
      required:
        - id
        - teacher
        - content
        - likes
    NewQuote:
      properties:
        teacher:
          type: integer
        date:
          type: string
          format: date
        content:
          type: string
      required:
        - id
        - teacher
        - content
    Teacher:
      properties:
        id:
          type: integer
        name:
          type: string
      required:
        - id
        - name
  securitySchemes:
    PasswordAuth:
      type: apiKey
      in: header
      name: X-Password
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-Api-Key
    ReCaptchaAuth:
      type: apiKey
      in: header
      name: g-recaptcha-response
