openapi: 3.0.0
info:
  title: Hláškovník API
  description: REST API for Hláškovník. An app for writing down funny things teachers say.
  version: "2.0"

servers:
  - url: http://hlaskovnik.tk/api/v2.0/
    description: The one and only api url.

paths:
  /hlasky:
    get:
      summary: Returns a list of all quotes.
      parameters:
        - in: query
          name: filterByTeacher
          schema:
            type: int
        - in: query
          name: filterByDate
          schema:
            type: string
            format: date
      responses:
        200:
          description: All OK, a list of quotes.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Quote'
    post:
      summary: Adds a new quote.
      security:
        - PasswordAuth: []
          ReCaptchaAuth: []
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewQuote'
      responses:
        201:
          description: OK. Created
        400:
          description: Bad Request
  /hlasky/{quoteId}:
    get:
      summary: Returns a quote by id
      parameters:
        - in: path
          name: quoteId
          schema:
            type: integer
          required: true
      responses:
        200:
          description: A quote
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Quote'
  /hlasky/{quoteId}/likes:
    post:
      summary: Adds a like to a quote.
      security:
        - ApiKeyAuth: []
      parameters:
        - in: cookie
          name: userId
          schema:
            type: string
          required: true
        - in: path
          name: quoteId
          schema:
            type: integer
          required: true
      responses:
        201:
          description: OK. Like added.
        400:
          description: Bad request.
        409:
          description: Conflict. Already liked.
    delete:
      summary: Removes a like from a quote.
      security:
        - ApiKeyAuth: []
      parameters:
        - in: cookie
          name: userId
          schema:
            type: string
          required: true
        - in: path
          name: quoteId
          schema:
            type: integer
          required: true
      responses:
        200:
          description: OK. Like removed.
        400:
          description: Bad request.
        409:
          description: Conflict. Not yet liked.
  /users:
    post:
      summary: Adds a new user.
      security:
        - ApiKeyAuth: []
        - ReCaptchaAuth: []
      responses:
        200:
          description: User created.
          headers:
            Set-Cookie:
              schema:
                type: string
                example: userId=86a057b6-c956-4ffd-9171-8faaf5a6ff58; Path=/; HttpOnly
  /users/{userId}/likes:
    get:
      summary: Returns all quotes liked by user.
      parameters:
        - in: path
          name: userId
          required: true
          schema:
            type: string
      responses:
        200:
          description: All ok.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: integer
  /teachers:
    get:
      summary: Returns all teachers.
      responses:
        200:
          description: All ok.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Teacher'
  /feed:
    get:
      summary: An atom feed.
      responses:
        200:
          description: The atom feed
          content:
            application/atom+xml:
              schema:
                $ref: '#components/schemas/feed'

components:
  schemas:
    feed:
      xml:
        namespace: "http://www.w3.org/2005/Atom"
      properties:
        title:
          example: "Hláškovník 2.0"
        link:
          properties:
            href:
              example: "https://hlaskovnik.eu"
              xml:
                attribute: true
        updated:
          example: "2025-12-11 22:17:30"
        author:
          properties:
            name:
              example: "Greenscreener"
        id:
          example: "urn:uuid:3fbed38a-bbdb-4877-adb4-88309f2229d9"
        entry:
          type: array
          items:
            properties:
              title:
              link:
                properties:
                  href:
                    xml:
                      attribute: true
              id:
              updated:
              summary:
          example:
            - title: "2025-12-11: Jan Černohorský"
              link:
                href: "https://hlaskovnik.eu/?id=880"
              id: "https://hlaskovnik.eu/?id=880"
              updated: "2025-12-11 22:17:30"
              summary: "Nikdy netestujte nové fíčury na produkci!"
            - title: "2025-12-11: Jan Černohorský"
              link:
                href: "https://hlaskovnik.eu/?id=881"
              id: "https://hlaskovnik.eu/?id=881"
              updated: "2025-12-11 22:17:31"
              summary: "Nikdy netestujte nové fíčury na produkci!"
    Quote:
      properties:
        id:
          type: integer
        teacher:
          $ref: "#/components/schemas/Teacher"
        date:
          type: string
          format: date
        content:
          type: string
        edited:
          type: boolean
        likes:
          type: integer
      required:
        - id
        - teacher
        - content
        - likes
    NewQuote:
      properties:
        teacher:
          type: integer
        date:
          type: string
          format: date
        content:
          type: string
      required:
        - teacher
        - content
    Teacher:
      properties:
        id:
          type: integer
        firstName:
          type: string
        lastName:
          type: string
      required:
        - id
        - firstName
        - lastName
  securitySchemes:
    PasswordAuth:
      type: apiKey
      in: header
      name: X-Password
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-Api-Key
    ReCaptchaAuth:
      type: apiKey
      in: header
      name: g-recaptcha-response
